 <div class="row">
  <!--<div class="col-md-6 col-lg-3" *ngFor="let topcard of topcards">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div
            class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-{{
              topcard.bgcolor
            }} text-{{ topcard.bgcolor }}"
          >
            <i class="{{ topcard.icon }}"></i>
          </div>
          <div class="ms-3">
            <h3 class="mb-0 font-weight-bold">{{ topcard.title }}</h3>
            <small class="text-muted fs-3">{{ topcard.subtitle }}</small>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="col-md-6 col-lg-3" (click)="entr()">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div
            class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-success text-success"
          >
            <i class="bi bi-wallet"></i>
          </div>
          <div class="ms-3">
            <h3 class="mb-0 font-weight-bold">{{ nbEntreprises }}</h3>
            <small class="text-muted fs-3">Entreprise</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3" routerLink="transactions">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div
            class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-danger text-danger"
          >
            <i class="bi bi-coin"></i>
          </div>
          <div class="ms-3">
            <h3 class="mb-0 font-weight-bold">{{ nbTransactions }}</h3>
            <small class="text-muted fs-3">Transactions</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div
            class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-warning text-warning"
          >
            <i class="bi bi-basket3"></i>
          </div>
          <div class="ms-3">
            <h3 class="mb-0 font-weight-bold">{{ nbBoutiques }}</h3>
            <small class="text-muted fs-3">Boutique</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div
            class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-info"
          >
            <i class="bi bi-bag"></i>
          </div>
          <div class="ms-3">
            <h3 class="mb-0 font-weight-bold">{{ nbCartes }}</h3>
            <small class="text-muted fs-3">Cartes</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
